REACT_APP_RAPID_API_HOST= # YOUR_HOST_URL
REACT_APP_RAPID_API_KEY= # YOUR_SECRET_KEY
REACT_APP_RAPID_API_URL= # YOUR_SUBMISSIONS_URL

NEXT_PUBLIC_QUESTION_SERVICE= # Question service url link
NEXT_PUBLIC_USER_SERVICE= # User service url link
NEXT_PUBLIC_WS_URL= # Websocket url link

# NextAuth
NEXTAUTH_URL= # Frontend url link
NEXTAUTH_SECRET= # Frontend auth secret key
GOOGLE_CLIENT_ID= # Google auth client id
GOOGLE_CLIENT_SECRET= # Google auth client secret
GITHUB_CLIENT_ID= # Github auth client id
GITHUB_CLIENT_SECRET= # Github auth client secret

NEXT_PUBLIC_WS_SESSION_URL= # Websocket url for session service
NEXT_PUBLIC_SESSION_URL= # Http url for session service